@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Poppins:400');

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
  font-weight: 700;
}

h1 {
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  letter-spacing: -2%;
}

h2 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  letter-spacing: -2%;
}

h3 {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: -2%;
}

h4 {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
}

h5 {
  font-size: 1.5rem; /* 24px */
  line-height: 2.5rem; /* 32px */
}

h6 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.md {
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.25rem; /* 36px */
    line-height: 2.75rem; /* 44px */
    letter-spacing: -2%;
  }

  h2 {
    font-size: 2em; /* 32px */
    line-height: 2.5rem; /* 40px */
    letter-spacing: -2%;
  }

  h3 {
    font-size: 1.75rem; /* 28px */
    line-height: 2.25rem; /* 36px */
  }

  h4 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem /* 28px */;
  }

  h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem /* 24px */;
  }
}

:root.light {
  --text: hsl(63, 69%, 5%);
  --background: hsl(210, 20%, 98%);
  --primary: hsl(193, 52%, 54%);
  --secondary: hsl(189, 43%, 91%);
  --accent: hsl(33, 72%, 79%);
  --box-shadow: hsla(0, 0%, 0%, 0.08);
  --border-color: hsl(0, 0%, 53%);
  --margin: 1.5rem;
}

:root.dark {
  --text: hsl(63, 69%, 95%);
  --background: hsl(212, 21%, 12%);
  --primary: hsl(193, 52%, 46%);
  --secondary: hsl(189, 43%, 9%);
  --accent: hsl(33, 72%, 21%);
  --box-shadow: hsla(0, 0%, 100%, 0.08);
  --border-color: hsl(0, 0%, 53%);
  --margin: 1.5rem;
}

:root {
  --spacing-05: 0.125rem; /* 2px */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-7: 1.75rem; /* 28px */
  --spacing-8: 2rem; /* 32px */
  --spacing-9: 2.25rem; /* 36px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-11: 2.75rem; /* 44px */
  --spacing-12: 3rem; /* 48px */
  --spacing-13: 3.25rem; /* 52px */
  --spacing-14: 3.5rem; /* 56px */
  --spacing-15: 3.75rem; /* 60px */
  --spacing-16: 4rem; /* 64px */
  --spacing-17: 4.25rem; /* 68px */
  --spacing-18: 4.5rem; /* 72px */
  --spacing-19: 4.75rem; /* 76px */
  --spacing-20: 5rem; /* 80px */

  --text-mobile-large: 1.125rem; /* 18px */
  --line-height-mobile-large: 1.5rem; /* 24px */

  --text-mobile-medium: 1rem; /* 16px */
  --line-height-mobile-medium: 1.25rem; /* 20px */

  --text-mobile-small: 0.875rem; /* 12px */
  --line-height-mobile-small: 1.25rem; /* 20px */

  --text-mobile-xsmall: 0.75rem; /* 12px */
  --line-height-mobile-small: 1rem; /* 16px */
}
