@import url('common.css');

body {
  overflow-x: hidden;
}

.header, .header-frame {
  width: 100%;
  max-width: 90rem; /* 1440px */
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 2rem;
}

.header-frame {
  height: 3.75rem; /* 60px */
  padding: 0.5rem 0 0.5rem 0; /* 8px 0 8px 0 */
  background: var(--background);
  box-shadow: 0px 0.125rem 0.625rem  var(--accent);
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.logo-container {
  margin-left: 1rem; /* 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  padding-right: 0;
}

#degree-planner-logo {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem; /* 8px */
}

.logo {
  height: 1.5625rem; /* 25px */
  background: transparent;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.navigation-section {
  left: 10rem;
  padding-left: 0rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 2.5rem; /* 40px */
  display: flex;
}

.nav-item {
  color: var(--text);
  font-size: 0.875rem; /* 14px */
  word-wrap: break-word;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.nav-item a.active {
  color: var(--primary);
}

.nav-item a:hover {
  color: var(--primary);
}

.login-signup-container {
  margin-right: 1rem; /* 16px */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  padding-right: 0;
}

#system-mode-icon {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem; /* 8px */
}

.login-signup {
  height: 1.5625rem; /* 25px */
  background: var(--background);
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

#login-signup-button {
  padding: 0.5rem 0.75rem; /* 8px 16px */
  background-color: var(--text);
  color: var(--background);
  border-radius: 2rem; /* 5px */
  cursor: pointer;
}

#menu-icon, #close-icon {
  width: 2rem;
  cursor: pointer;
  display: none; /* Hide both icons by default */
}



@media (max-width: 1000px) {
  .header-frame {
    justify-content: flex-start;
  }

  .navigation-section, .login-signup-container #login-signup-button {
    display: none;
  }

  #system-mode-icon {
    position: fixed;
    right: 3rem;
    z-index: 2;
  }

  .login-signup-container #system-mode-icon {
    display: block;
  }

  #menu-icon, #close-icon {
    margin-left: auto;
    display: block;
    z-index: 2;
    position: fixed;
    right: 1.0rem;
  }

  #close-icon {
    display: none;
    z-index: 2;
  }
}