
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--background);
	overflow-x: hidden;
	transition: 0.35s;
	padding-top: 4rem; /* 80px */
	display: none;
}

@media (max-width: 1000px) {
	.sidebar {
		display: block; /* Show the sidebar in mobile view */
		box-shadow: 0px 0.25rem 0.625rem var(--secondary);
	}

	.sidebar-navigation-section {
		list-style-type: none;
		align-items: center;
		gap: 2rem; /* 40px */
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.sidebar-nav-item {
		color: var(--text);
		font-size: 0.875rem; /* 14px */
	}

	.sidebar-nav-item a {
		text-decoration: none;
		color: inherit;
		transition: color 0.3s ease;
	}

	.sidebar-nav-item a:hover {
		color: var(--primary);
	}

	.sidebar-nav-item a.active {
		color: var(--primary);
	}

	#login-signup-button {
		margin-top: 2rem; /* 32px */
		margin-left: auto;
		margin-right: auto;
		display: block;
		transition: box-shadow 0.3s ease-in-out;
	}

	#login-signup-button:hover {
		box-shadow: 0px 0.125rem 0.625rem var(--primary);
	}
}