.plan {
    margin: 1rem;
    border-radius: 0.5rem;
}

.header-semester1, .header-semester2, .header-semester3 {
    padding: 1rem 4rem;
    border-radius: 0.5rem;
}

.header-semester1, .header-semester2, .year {
    background-color: var(--primary);
}

.header-semester3 {
    background-color: var(--card-background);
}

.year {
    padding: 4rem 2rem;
    border-radius: 0.5rem;
}

.degree-plan-table {
    border-spacing: 1rem;
}