.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container aside {
    flex: 0 0 12.5rem; /* 200px */
    height: max-content;
    background-color: var(--card-background);
    padding: var(--spacing-5);
    box-sizing: border-box;
    margin-left: var(--spacing-15);
    border-radius: 1rem;
    margin-top: 3.5rem;
    display: block;
}

.flex-container section {
    flex-grow: 1;
    padding: var(--spacing-5);
    box-sizing: border-box;
    background-color: var(--card-background);
    margin-right: var(--spacing-15);
    border-radius: 1rem;
    margin-left: var(--spacing-5);
    margin-top: 3.5rem;
}

.flex-container section h1 {
    text-align: center;
}