body {
    overflow-x: hidden;
    margin-top: 3rem;
}

.header, .header-frame {
    width: 100%;
    align-items: center;
    max-width: none;
    box-sizing: border-box;
    border-radius: var(--spacing-5);
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-frame {
    height: var(--spacing-15); /* 60px */
    padding: var(--spacing-2) 0; /* 8px 0 */
    background: var(--background);
    box-shadow: 0 var(--spacing-05) var(--spacing-2) var(--accent);
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.logo-container {
    margin-left: var(--spacing-4); /* 16px */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    padding-right: 0;
    font-weight: bold;
}

#degree-planner-logo {
    width: var(--spacing-8);
    height: auto;
    margin-right: var(--spacing-2); /* 8px */
}

.logo {
    height: var(--spacing-6); /* 25px */
    background: transparent;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.navigation-section {
    left: var(--spacing-40);
    padding-left: 0rem;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-10); /* 40px */
    display: flex;
}

.nav-item {
    color: var(--text);
    font-size: var(--spacing-3); /* 14px */
    word-wrap: break-word;
}

.nav-item a {
    font-size: var(--text-mobile-small);
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.nav-item a.active {
    color: var(--primary);
}

.nav-item a:hover {
    color: var(--primary);
} 

#system-mode-mobile-icon {
    width: var(--spacing-8);
    height: auto;
    margin-right: var(--spacing-2); /* 8px */
}

#system-mode-mobile-icon:hover {
    cursor: pointer;
}

#system-mode-menu-icon {
    display: none;
}

.system-mode-menu-container {
    display: block;
}

.login-signup {
    height: var(--spacing-6); /* 25px */
    background: var(--background);
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

#login-signup-button {
    padding: var(--spacing-2) var(--spacing-3); /* 8px 16px */
    background-color: var(--text);
    color: var(--background);
    border-radius: var(--spacing-8); /* 5px */
    cursor: pointer;
}

#menu-icon, #close-icon {
    width: var(--spacing-8);
    cursor: pointer;
    display: none; /* Hide both icons by default */
}

@media (max-width: 1000px) {
    .header-frame {
    justify-content: flex-start;
    }

    .navigation-section {
    display: none;
    }

    #system-mode-mobile-icon {
    display: block;
    }

    #system-mode-mobile-icon {
    z-index: 2;
    margin-left: auto;

    width: var(--spacing-8);
    height: auto;
    margin-right: var(--spacing-2);
    }

    .system-mode-menu-container {
    display: block;
    margin-left: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    padding-right: 0;
    }

    #menu-icon, #close-icon {
    margin-left: auto;
    display: block;
    z-index: 2;
    margin-right: var(--spacing-4); /* 16px */
    }

    #close-icon {
    display: none;
    z-index: 2;
    }
}