<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Login Page - Degree Planner">
    <meta name="author" content="Invisionaries">

    <title>Log In - Degree Planner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='common/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/sidebar.css') }}">
    <script src="{{ url_for('static', filename='login/login.js') }}"></script>
    <script src="{{ url_for('static', filename='login/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='login/system-mode.js') }}"></script>
    <script src="{{ url_for('static', filename='login/login.js') }}"></script>
</head>

<body>

    <header class="header">
        <nav class="header-frame">
            <div class="logo-container">
                <a href="/" class="logo">
                    <img id="degree-planner-logo" src="{{ url_for('static', filename='common/img/degree-planner-logo.png') }}" alt="Degree Planner Logo">
                    Degree Planner
                </a>
            </div>
            <ul class="navigation-section">
                <li class="nav-item"><a href="#">Create Your Plan</a></li>
                <li class="nav-item"><a href="#">Check Your Credits</a></li>
                <li class="nav-item"><a href="#">GPA Calculator</a></li>
                <li class="nav-item"><a href="#">Query Information</a></li>
            </ul>

            <!-- Mobile View -->
            <div class="system-mode-menu-container">
                <img id="system-mode-mobile-icon" src="../static/common/img/sun.png" alt="System Mode Icon">
                <img id="menu-icon" src="../static/common/img/menu.png" alt="Menu Icon" onclick="openNav()">
                <img id="close-icon" src="../static/common/img/close-menu-dark.png" alt="Close Menu Icon" style="display: none;" onclick="closeNav()">
            </div>

            <div id="sidebar-menu" class="sidebar"> <!-- Add class "sidebar" -->
                <ul class="sidebar-navigation-section">
                    <li class="nav-item"><a href="#">Plan</a></li>
                    <li class="nav-item"><a href="#">Credit Checker</a></li>
                    <li class="nav-item"><a href="#">GPA Calculator</a></li>
                    <li class="nav-item"><a href="#">Query Information</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="flex-container">
        <div class="image-container">
            <img id="login-background" src="{{ url_for('static', filename='common/img/login-background.svg') }}" alt="Login Background Image">
        </div>

        {% block content %}
        {% endblock %}

    </div>

    <br>
    <!--<hr>-->

    <footer>
        <div class="footer-content">
            <p>&copy; 2023-2024 Degree Planner. All rights reserved.</p>
            <!--
            <ul class="footer-links">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            -->
        </div>
    </footer>

</body>
</html>
