h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

#plan-your-degree ul,
#features ul,
#benefits ul,
#testimonials ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

hr {
	border-color: var(--secondary);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    text-decoration: none;
    color: inherit;
}