<div class="create-plan" id="create-plan-section">
    <p id="create-your-plan"><strong>Create Your Plan</strong></p>

    <p>Select one of the following combinations:
    <ul>
        <li>One major</li>
        <li>Two majors</li>
        <li>One major and one minor</li>
        <li>One major and two minors</li>
        <li>One programme</li>
    </p>

    <p>Majors</p>
    <select class="search-select" id="select-major1">
        <option value="">Select a major</option>
        {% for major in majors %}
            <option value="{{ major.name }}">{{ major.name }}</option>
        {% endfor %}
    </select>
    <select class="search-select" id="select-major2">
        <option value="">Select a major</option>
        {% for major in majors %}
            <option value="{{ major.name }}">{{ major.name }}</option>
        {% endfor %}
    </select>

    <p>Minors</p>
    <select class="search-select" id="select-minor1">
        <option value="">Select a minor</option>
        {% for minor in minors %}
            <option value="{{ minor.name }}">{{ minor.name }}</option>
        {% endfor %}
    </select>
    <select class="search-select" id="select-minor2">
        <option value="">Select a minor</option>
        {% for minor in minors %}
            <option value="{{ minor.name }}">{{ minor.name }}</option>
        {% endfor %}
    </select>

    <p><strong>OR</strong></p>

    <p>Select a programme:</p>
    <select class="search-select" id="select-programme">
        <option value="">Select a programme</option>
        {% for programme in programmes %}
            <option value="{{ programme.name }}">{{ programme.name }}</option>
        {% endfor %}
    </select>

    <p>Interests</p>
    <div class="input-container">
        <input type="text" id="interest-input" placeholder="Enter your interest" />
        <div id="interest-chips"></div>
    </div>

    <button id="create-button">Create</button>
</div>