<table class="degree-plan-table">
    <thead>
        <tr class="header-row">
            <th></th>
            <th class="header-semester1">Semester 1</th>
            <th class="header-semester2">Semester 2</th>
            <th class="header-semester3">Semester 3</th>
        </tr>
    </thead>
    <tbody>
        <tr class="year1-row">
            <td class="year">Year 1</td>
            <td class="semester1">
                <div class="course-card"></div>
            </td>
            <td class="semester2"></td>
            <td class="semester3"></td>
        </tr>
        <tr class="year2-row">
            <td class="year">Year 2</td>
            <td class="semester1"></td>
            <td class="semester2"></td>
            <td class="semester3"></td>
        </tr>
        <tr class="year3-row">
            <td class="year">Year 3</td>
            <td class="semester1"></td>
            <td class="semester2"></td>
            <td class="semester3"></td>
        </tr>
    </tbody>
</table>