<header class="header">
    <nav class="header-frame">
        <div class="logo-container">
            <a href="/" class="logo">
                <span class="material-icons" id="degree-planner-logo">school</span>
                Degree Planner
            </a>
        </div>
        <ul class="navigation-section">
            <li class="nav-item active">
                <a href="{{ url_for('plan') }}">Plan</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('search') }}">Search</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('search') }}">AI</a>
            </li>
        </ul>

        <!-- Mobile View -->
        <div class="system-mode-menu-container">
            <span class="material-icons" id="system-mode-mobile-icon">nights_stay</span>
            <span class="material-icons" id="menu-icon" onclick="openNav()">menu</span>
            <span class="material-icons" id="close-icon" style="display: none;" onclick="closeNav()">close</span>
        </div>
        <div id="sidebar-menu" class="sidebar">
            <ul class="sidebar-navigation-section">
                <li class="nav-item active">
                    <a href="{{ url_for('plan') }}"><i class="material-icons">event_note</i> Plan</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('search') }}"><i class="material-icons">search</i> Search</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('search') }}"><i class="material-icons-outlined">code</i> AI</a>
                </li>
            </ul>
        </div>
    </nav>
</header>