<aside>
    <ul class="left-sidebar">
        <li class="left-sidebar-item active">
            <a href="{{ url_for('plan') }}">
                <span class="material-icons">book</span>
                Plan
            </a>
        </li>
        <li class="left-sidebar-item">
            <a href="{{ url_for('search') }}">
                <span class="material-icons">search</span>
                Search
            </a>
        </li>
        <li class="left-sidebar-item">
            <a href="{{ url_for('search') }}">
                <span class="material-icons">code</span>
                AI
            </a>
        </li>
        <li class="left-sidebar-item">
            <a href="{{ url_for('profile') }}">
                <span class="material-icons">person</span>
                Profile
            </a>
        </li>
        <li class="left-sidebar-item">
            <a href="{{ url_for('settings') }}">
                <span class="material-icons">settings</span>
                Settings
            </a>
        </li>
        <li class="left-sidebar-item">
            <a href="{{ url_for('logout') }}">
                <span class="material-icons">logout</span>
                Logout
            </a>
        </li>
    </ul>
</aside>