{% extends "login_signup.html" %}

{% block login_form %}

<div class="login-container tabcontent" id="login">
    <div class="login-frame">
        <div class="welcome-text">
            <p>Welcome Back!</p>
        </div>
        <div class="login-text">
            <p>Log in to Degree Planner</p>
        </div>
        <div class="login-body">
            <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                <div class="input-container">
                    <label for="login-identifier">Email or Username</label>
                    {{ form.identifier(id='login-identifier', placeholder='Enter your email or username') }}
                </div>
                <div class="input-container password-container">
                    <label for="login-password">Password</label>
                    {{ form.password(id='login-password', placeholder='Enter your password') }}
                </div>
                <div class="checkbox-forgot-password">
                    <div class="remember-me">
                        {{ form.remember_me() }} <label for="remember-me">Remember me</label>
                    </div>
                    <div class="forgot-password">
                        <a href="/forgot-password">Forgot password?</a>
                    </div>
                </div>
                <div class="login-button-container">
                    {{ form.submit(class='login-button') }}
                </div>
            </form>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
                <script>
                    setTimeout(function(){
                        window.location.href = "{{ url_for('home') }}";
                    }, 1000);
                </script>
            {% endif %}
        {% endwith %}
        </div>
        <div class="login-footer">
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>

{% endblock %}