{% extends 'base.html' %}

{% block head %}
<title>Degree Planner - Search</title>
<link rel="stylesheet" href="{{ url_for('static', filename='common/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='search/search.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='search/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='search/sidebar.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='search/search.js') }}"></script>
<script src="{{ url_for('static', filename='search/system-mode.js') }}"></script>
<script src="{{ url_for('static', filename='search/sidebar.js') }}"></script>

{% endblock %}

{% block header %}
    {% include 'header_authenticated.html' %}
{% endblock %}

{% block content %}
    <div class="flex-container">
        <section>
            <div class="search-container">
                <div class="filter-options">
                    <p>Filter by:</p>
                    <div class="radio-container">
                        <div class="row">
                            <label>
                                <input type="radio" name="filter" value="all" checked> All
                            </label>
                            <label>
                                <input type="radio" name="filter" value="course"> Course
                            </label>
                            <label>
                                <input type="radio" name="filter" value="major"> Major
                            </label>
                            <label>
                                <input type="radio" name="filter" value="minor"> Minor
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="radio" name="filter" value="programme"> Programme
                            </label>
                            <label>
                                <input type="radio" name="filter" value="department"> Department
                            </label>
                            <label>
                                <input type="radio" name="filter" value="faculty"> Faculty
                            </label>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" id="search-bar" placeholder="Search for courses, majors, minors, etc...">
                    <button>
                        <span class="material-icons">search</span>
                    </button>
                </div>

                <div id="search-results" class="dropdown-menu">
                </div>
            </div>
        </section>
        <section>
            <div id="selected-search-item">
            </div>
        </section>
    </div>

{% endblock %}